body {
  max-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input:valid {
  outline-color: greenyellow;
}
input:focus:invalid {
  outline-color: blueviolet;
}
input:invalid {
  outline-color: red;
}

#input {
  background-color: #000;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}
#btn {
	background-color:aquamarine;
	color: #fff;
	text-transform: uppercase;
	border: none;
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out ;
} 
#btn:hover {
	background-color: rgb(101, 253, 203);

}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #aaa;
  color: #fff;
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
}
.deleteBtn {
  background-color: orangered;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.update,
.save {
  color: black;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}
.update {
  background-color: greenyellow;
}
.save {
  background-color: orange;
}
